#composer.lock #use this file. On server use composer install!
composer.json~

!.gitignore
!.htaccess
!web.config
app/config/config.local.neon

### ignore vendor dir - it's maintained by composer on server
vendor/*
!vendor/others