{block content}
<link rel="stylesheet" href="https://cdn.rawgit.com/o5/grido/1a4f1e5/client-side/css/grido.css">
<style>
	.grido th.column {
		text-align: left;
	}
	.grido th.column span {
		float: none;
	}
</style>

<div class="jumbotron">
	<p>Editace: CTRL + 2x kliknout do políčka s hodnotou, změnit, ENTER<br>
		Barvy: zadávat pomocí kódu (#123456) - barvy <a href="http://www.jakpsatweb.cz/archiv/barvy-pojmenovane.html">ZDE</a></p>
</div>
{control grid}

{/block}

{block scripts}
{include parent}
		
        <script src="https://cdn.rawgit.com/moment/moment/2.9.0/moment.js"></script>
        <script src="https://cdn.rawgit.com/jquery/jquery/1.11.2/dist/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v3.1.1/dist/js/bootstrap.min.js"></script>
        <!--<script src="https://cdn.rawgit.com/dangrossman/bootstrap-daterangepicker/v1.3.17/daterangepicker.js"></script>-->
        <!--<script src="https://cdn.rawgit.com/nette/forms/v2.2.4/src/assets/netteForms.js"></script>-->

        <!--<script src="https://cdn.rawgit.com/browserstate/history.js/1.8.0/scripts/bundled/html4+html5/jquery.history.js"></script>-->
        <!--<script src="https://cdn.rawgit.com/twitter/typeahead.js/v0.10.5/dist/typeahead.bundle.min.js"></script>-->
        <script src="https://cdn.rawgit.com/vojtech-dobes/nette.ajax.js/2.0.0/nette.ajax.js"></script>
        <!--<script src="https://cdn.rawgit.com/rstacruz/nprogress/v0.1.6/nprogress.js"></script>-->
        <!--<script src="http://grido.bugyik.cz/example/js/nette.nprogress.js"></script>-->

        <script src="https://cdn.rawgit.com/o5/grido/1a4f1e5/client-side/js/grido.js"></script>
        <!--<script src="https://cdn.rawgit.com/o5/grido/1a4f1e5/client-side/js/plugins/grido.datepicker.js"></script>-->
        <!--<script src="https://cdn.rawgit.com/o5/grido/1a4f1e5/client-side/js/plugins/grido.typeahead.js"></script>-->
        <!--<script src="https://cdn.rawgit.com/o5/grido/1a4f1e5/client-side/js/plugins/grido.history.js"></script>-->
        <script src="https://cdn.rawgit.com/o5/grido/1a4f1e5/client-side/js/plugins/grido.nette.ajax.js"></script>

		<script>
			$(function(){
				//init nette ajax
				$.nette.init();
			});
		</script>
{/block}