# rename this file to 'config.local.neon' and fill in MySQL user & password

parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=app_weatherhub'
	user: app_weatherhub
	password: XXXXX
	options:
		lazy: yes
