parameters:

# nette < 2.4
php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

tracy:
	email: 'j.rypacek@gmail.com'


session:
	expiration: 14 days
	# need to set different session name due to multiple nette apps on one domain
	name: WeatherHub


services:
	- App\RouterFactory::createRouter
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
